<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <br><br>
    <div class="card">
      <h5 class="card-header">Profile Picture</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <p>you can change your profile picture, click button below to upload a new picture </p>
            <input type='file' accept="image/*" (change)="onSelectFile($event)">
            <br><br>
            <button class="btn btn-primary" (click)="onUpload()">Upload Picture</button>
          </div>
          <div class="col-4">
            <img class="img-thumbnail pull-right" [src]="url"  style="width:256px;"/>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header">General Info</h5>
      <div class="card-body">
        <form>
          <label for="display-name">Display Name</label>
          <input type="text" id="display-name" name="display-name" class="form-control" placeholder="Display Name" [(ngModel)]="displayname" required autofocus>
          <br><br>
          <button class="btn btn-primary" (click)="onUpdateInfo()">Update Info</button>
        </form>
      </div>
    </div>
  </div>
</div>
