<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active">User Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Game Reviews</a>
      </li>
    </ul>

    <div class="admin-review border">
      <div class="media p-3">
        <img src="/assets/images/avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <p>Armin Kazmei just commented on Hamed Modiri :</p>

          <div class="media p-3">
            <img src="/assets/images/avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <blockquote class="blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
          </div>

          <div class="rating pull-right">
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
      <div class="admin-options">
        <button class="btn btn-success">Accept</button>
        <button class="btn btn-danger">Decline</button>
      </div>
    </div>

    <div class="admin-review border">
      <div class="media p-3">
        <img src="/assets/images/avatar.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <p>Armin Kazmei just commented on Hamed Modiri :</p>
          <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </blockquote>
          <div class="rating pull-right">
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
      <div class="admin-options">
        <button class="btn btn-success">Accept</button>
        <button class="btn btn-danger">Decline</button>
      </div>
    </div>

  </div>
</div>
