<nav class="navbar navbar-expand-lg gh-navbar">
  <a class="navbar-brand">GameHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse gh-navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <button class="btn nav-btn" routerLink="/">Home</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/play">Play</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/design">Design</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/games">Games</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/users">Users</button>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu gh-dropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown" *ngIf="this.auth.isAuthenticated()">
        <button class="btn nav-btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{this.auth.username()}}
        </button>
        <div class="dropdown-menu gh-dropdown" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!this.auth.isAuthenticated()" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/register">Register</button>
      </li>
      <li class="nav-item" *ngIf="!this.auth.isAuthenticated()" routerLinkActive="active">
        <button class="btn nav-btn"  routerLink="/login">Login</button>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn gh-btn my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>
<!-- SIDEBAR
<div id="wrapper">

<div id="sidebar-wrapper">
  <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li class="active">
      <a href="#">Overview</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>


</div>
-->

<router-outlet></router-outlet>

<!--<div id="page-content-wrapper">-->
<!--</div>-->
